.shop-page {
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @media (min-width: 768px) {
            font-size: 3.5rem;
        }
    }

    .container {
        max-width: 960px;
    }

    /*
 * Custom translucent site header
 */

    .site-header {
        background-color: rgba(0, 0, 0, .85);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }

    .site-header a {
        color: #999;
        transition: ease-in-out color 0.15s;
    }

    .site-header a:hover {
        color: #fff;
        text-decoration: none;
    }

    /*
 * Extra utilities
 */

    .flex-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
    @media (min-width: 768px) {
        .flex-md-equal > * {
            -ms-flex: 1;
            flex: 1;
        }
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .shop-banner {
        background-image: url("../images/team-scrum.jpg");
        background-size: cover;
        filter: brightness(0.5);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .shop-banner-text {
        h1,
        p {
            color: white;
            text-shadow: 0 1px 2px #333;
        }

        .lead {
            text-transform: capitalize;
        }

        .btn.btn-outline-secondary {
            color: white;
            border-color: white;

            &:hover {
                color: black;
                background-color: white;
            }
        }
    }
}
