.rugby-text {
    color: white;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.firstSection {
    display: flow-root;

}

#name {
    width: 400px;
    height: 40px;
    margin-left: 5px;
    border-top: 10px;
}

#email {
    width: 400px;
    height: 40px;
}

.column-right {
    width: 50%;
    height: 255px;
}

textarea {
    width: 350px;
    height: 150px;
}

.column-left {
    float: left;
    width: 50%;
    height: 255px;
}

.name {

    padding: 20px 200px 20px 20px;
    width: 90px;
    margin-left: 10%;
}

.rounded-circle {
    max-width: 230px;
}

.email {

    padding: 20px 200px 20px 20px;
    width: 90px;
    margin-left: 10%;
}

.submit {
    float: right;
    margin-right: 99px;
    background-color: red;
    font-family: 'kurale', arial, sans-serif;
    color: white;
    border-radius: 15px;
    width: 86px;
    height: 45px;
    font-size: 20px;

}

#message {
    margin-left: 70px;
    padding: 10px;
}

.footer-color {
    background-color: #00688B;
    color: white;
}
